---
layout: page
title: Study
sidebar_num : 2
---

<h1> Study </h1>

<div class="cats-expo">
  <div class="cats-expo-list">
    <!-- {% for cat in site.categories %}
      <a href="{{site.url}}/{{ cat[0] | slugify }}/" class="post-cat">{{ cat[0] }}  |  </a>
    {% endfor %} -->
  </div>
  <hr/>

  <div class="cats-expo-section">
    {% for pap in site.study_category_list %}
      {% for cat in site.categories %}
        {% if cat[0] == pap %}
          <div class = "single-category">
            <h2 class="single-category-title" id="{{ cat[0] | slugify }}">{{ cat[0] }}</h2>
            <!-- <small>{{cat[1][0].categories | slice : 1,3 | join : " | "}}</small> -->
            <ul class="post_in_category">
            {% assign category = cat[1] | sort: "category_num" %}
            {% for post in category %}
              <div><h3 class="single-post-in-category-title">
                <a class="single-post-in-category-title-on-index"  href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
                <small style="font-size: 17.4px;">{{post.subtitle}}</small>
                </a>
              </h3></div>
            {% endfor %}
            </ul><br>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>
