.index-page-recent-post {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #000; /* Adjust text color as needed */
    text-decoration: none;
    margin: 0;
  }

.index-page-recent-post h1 {
    margin: 0;
    font-size: 1.5em; /* Increase font size */
    font-weight: bold; /* Make text bold */
    letter-spacing: 1px; /* Slightly increase letter spacing */
    text-transform: uppercase; /* Uppercase letters */
    font-family: 'Montserrat', sans-serif;
    color: #333; /* Adjust text color */
  }

.index-page-keep-reading {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #000; /* Adjust text color as needed */
    text-decoration: none;
    margin-top: 2em;
  }
  
  .index-page-keep-reading:hover {
    background-color: #f0f0f0; /* Slightly grey background on hover */
  }

  .index-page-keep-reading h2 {
    margin: 0;
    font-size: 1.1em; /* Increase font size */
    font-weight: bold; /* Make text bold */
    letter-spacing: 1px; /* Slightly increase letter spacing */
    text-transform: uppercase; /* Uppercase letters */
    font-family: 'Montserrat', sans-serif;
    color: #333; /* Adjust text color */
  }
  
  .index-page-keep-reading h2:hover {}

  .without-underbar {
    margin: 0;
  }
